<section class="books">
  <div class="container books-container">
    <div class="books-categories">
      <div class="books-categories-texts">
        <h2 class="b-categories-title">Books</h2>
        <p class="b-categories-_text">Showing 24 of 100</p>
      </div>
      <nav class="categories-nav">
        <button class="categories-dropdown" aria-expanded="false">
          Categories
          <span class="dropdown-arrow">\/</span>
        </button>
        <ul class="b-categories-list"></ul>
      </nav>
    </div>
    <div class="books-content">
      <div class="books-data">
        <ul class="books-data-list"></ul>
      </div>
      <button class="books-show-more">Show More</button>
    </div>
  </div>
</section>
