<section class="feedbacks-section">
  <div class="container">
    <h2 class="feedbacks-title">Customer Feedbacks</h2>
    <p class="feedbacks-paragraf">See what our readers are saying about us!</p>

    <div class="swiper feedbacks-swiper">
      <ul class="feedbacks-swiper-list swiper-wrapper">
        <li class="feedbacks-list-item swiper-slide">
          <div class="feedbacks-item-container">
            <p class="feedbacks-text">
              Great selection, fast delivery, and beautifully packaged books. My
              go-to store for weekend reads!
            </p>
            <div class="feedbacks-container">
              <picture>
                <source
                  srcset="
                    ../img/feedbacks/jane@1x.png 1x,
                    ../img/feedbacks/jane@2x.png 2x
                  " />
                <img
                  class="reviews-item-img"
                  src="../img/feedbeaks/jane@1x.png"
                  alt="photo Jane"
                  width="48"
              /></picture>
              <div class="feedbacks-container-mini">
                <h3 class="feedbacks-name">Jane Doe</h3>
                <p class="feedbacks-person">Book Lover, Reader</p>
              </div>
            </div>
          </div>
        </li>

        <li class="feedbacks-list-item swiper-slide">
          <div class="feedbacks-item-container">
            <p class="feedbacks-text">
              Customer service was super helpful, and my order arrived earlier
              than expected.Highly recommend!
            </p>
            <div class="feedbacks-container">
              <picture>
                <source
                  srcset="
                    ../img/feedbacks/john@1x.png 1x,
                    ../img/feedbacks/john@2x.png 2x
                  " />
                <img
                  class="reviews-item-img"
                  src="../img/feedbacks/john@1x.png"
                  alt="photo John"
                  width="48"
              /></picture>
              <div class="feedbacks-container-mini">
                <h3 class="feedbacks-name">John Smith</h3>
                <p class="feedbacks-person">Editor, BookMag</p>
              </div>
            </div>
          </div>
        </li>

        <li class="feedbacks-list-item swiper-slide">
          <div class="feedbacks-item-container">
            <p class="feedbacks-text">
              Love the curated picks and clear descriptions. Makes it easy to
              find my next favorite book. I liked it!
            </p>
            <div class="feedbacks-container">
              <picture>
                <source
                  srcset="
                    ../img/feedbacks/emily@1x.png 1x,
                    ../img/feedbacks/emily@2x.png 2x
                  " />
                <img
                  class="reviews-item-img"
                  src="../img/feedbacks/emily@1x.png"
                  alt="photo Jane"
                  width="48"
              /></picture>
              <div class="feedbacks-container-mini">
                <h3 class="feedbacks-name">Emily Johnson</h3>
                <p class="feedbacks-person">Author, Novelist</p>
              </div>
            </div>
          </div>
        </li>

        <li class="feedbacks-list-item swiper-slide">
          <div class="feedbacks-item-container">
            <p class="feedbacks-text">
              Great selection, fast delivery, and beautifully packaged books. My
              go-to store for weekend reads!
            </p>
            <div class="feedbacks-container">
              <picture>
                <source
                  srcset="
                    ../img/feedbacks/mari@1x.png 1x,
                    ../img/feedbacks/mari@2x.png 2x
                  " />
                <img
                  class="reviews-item-img"
                  src="../img/feedbacks/mari@1x.png"
                  alt="photo Jane"
                  width="48"
              /></picture>
              <div class="feedbacks-container-mini">
                <h3 class="feedbacks-name">Mari Noel</h3>
                <p class="feedbacks-person">Book Lover, Reader</p>
              </div>
            </div>
          </div>
        </li>
      </ul>

      <div class="feedbacks-controls">
        <div class="custom-swiper-pagination"></div>
        <div class="controls-arrows">
          <div class="swiper-button-left">
            <svg class="svg" width="24" height="24">
              <use href="../public/ico-sprite.svg#icon-left-arrow-alt"></use>
            </svg>
          </div>
          <div class="swiper-button-right">
            <svg class="svg" width="24" height="24">
              <use href="../public/ico-sprite.svg#icon-right-arrow-alt"></use>
            </svg>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
