<header class="header">
  <div class="container header__container">
    <div class="logo__container">
      <a class="logo" href="./index.html" aria-label="Site logo">
        <svg class="logo__icon" width="84" height="36">
          <use href="{=$icon-path}"></use>
        </svg>
      </a>
      <div class="burger_menu">
        <svg class="burger_btn" width="36" height="36">
          <use href="{=$burger-icon-path}"></use>
        </svg>
      </div>
    </div>
    <nav class="nav">
      <ul class="nav__list">
        <li class="nav__item"><a href="" class="nav__link">Home</a></li>
        <li class="nav__item"><a href="" class="nav__link">Books</a></li>
        <li class="nav__item"><a href="" class="nav__link">Feedbacks</a></li>
        <li class="nav__item"><a href="" class="nav__link">Events</a></li>
        <li class="nav__item"><a href="" class="nav__link">Location</a></li>
      </ul>
    </nav>
  </div>
</header>
