<section class="hero">
  <div class="container hero-container">
    <div class="swiper hero-swiper">
      <div class="swiper-slide slide1">
        <h3 class="hero-text">Get 10% off your first order</h3>
        <button class="hero-btn">Shop Now!</button>
      </div>
      <div class="swiper-slide slide2">
        <h3 class="hero-text">Save 15% on some books</h3>
        <button class="hero-btn">Shop Now!</button>
      </div>
      <div class="swiper-slide slide3">
        <h3 class="hero-text">Summer Sale! Up to -40% discounts</h3>
        <button class="hero-btn">Shop Now!</button>
      </div>
      <div class="swiper-slide slide4">
        <h3 class="hero-text">Last chance to buy our spring bestsellers</h3>
        <button class="hero-btn">Shop Now!</button>
      </div>
    </div>
    <h1 class="hero-title">Discover Your Next Great Read Today!</h1>
  </div>

  <!-- buttons -->
  <div class="swiper-button-prev"></div>
  <div class="swiper-button-next"></div>
</section>