<div class="modal_menu">
  <div class="container">
    <nav class="nav_modal">
      <ul class="nav_modal_list">
        <li class="nav__item"><a href="" class="nav__link">Home</a></li>
        <li class="nav__item"><a href="" class="nav__link">Books</a></li>
        <li class="nav__item"><a href="" class="nav__link">Feedbacks</a></li>
        <li class="nav__item"><a href="" class="nav__link">Events</a></li>
        <li class="nav__item"><a href="" class="nav__link">Location</a></li>
      </ul>
    </nav>
  </div>
</div>
